footer {
    background-color: var(--dark2);
    text-align: center;
    color:var(--secondary-light)
}
.icon-elements {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
    gap: 20px;
    padding-bottom: 200px;
    width: 90%;
    margin: 0 auto;
    
}


.icon-elements a {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap:15px;
}
.icon-elements img {
    width: 70px;
}
.icon-elements img:hover {
    transform: scale(1.2);
}
.icon-elements span:hover {
    color: var(--secondary);
}